<div class="content">
    <div class="berlin_container">
        {{> berlin}}
    </div>

    {{#if error}}
        {{> error }}
    {{/if}}

    <div class="login-container">
        <h2 class="login-header">Please log in!</h2>
        <form action="/login" method="POST">
            Email address:<input type="email" name="email" placeholder="Your email address..." autocomplete="off" value="{{setemail}}" required>
            Password:<input type="password" name="password" placeholder="Your password..." autocomplete="off" required>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <button id="submitBtn" type="submit">Log in</button>
        </form>
    </div>


</div>
