<div class="content">
    <h2>Sign our petition to make the wearing of Crocs in public places a criminal act in every jurisdiction!</h2>
    <img src="assets/logo.png" alt="logo!">
    <p>First Name: <input type="text" name="firstName" value="" placeholder="Your name..."></p>
    <p>Last Name: <input type="text" name="lastName" value="" placeholder="Your lastname..."></p>
    <canvas id="canv" width="600" height="300"></canvas>
    <button type="submit" name="button">Sign!</button>
</div>
