<div class="content">
    <h2>Sign our petition to make the wearing of Crocs in public places a criminal act in every jurisdiction!</h2>
    <img src="assets/logo.png" alt="logo!">
    {{#if error}}
        <p class="err">Something went wrong please try again!</p>
    {{/if}}
    <form action="/petition" method="POST">
        <input type="text" id="signInput" name="signature">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <canvas id="canv" width="600" height="200"></canvas>
        <button id="submitBtn" type="submit">Sign!</button>
    </form>
</div>
