<div class="content">
    {{> logged}}

    <div class="berlin_container">
        {{> berlin}}
    </div>

    <h1>Welcome{{name}}{{id}}</h1>

    <div class="login-container">
        <h2 class="thanks-header">Thank you for signing our petition to make the wearing of Crocs in public places a criminal act in every jurisdiction!</h2>
        <div class="signBoxShow">
            <img src="{{signature}}" alt="signature!">
        </div>
        <p><a class="nohover" href="/signers">See all {{signers}} signers!</a></p>
    </div>

</div>
