<div class="content">
    <h2>Thank you for signing our petition to make the wearing of Crocs in public places a criminal act in every jurisdiction!</h2>
    <img src="assets/logo.png" alt="logo!">
    <p><a href="/signers">See all {{signers}} signers!</a></p> 
</div>
