<div class="content">

    <div class="typewriter">
        <h1>#Free public transportation for all berliners!</h1>
    </div>

    <div class="typewriter-2">
        <h1>Like the idea?</h1>
    </div>

    <a class="join" href="/signup">Join our campaign!</a>


    {{#if error}}
        {{> error}}
    {{/if}}

    <div class="berlin_container">
        {{> berlin}}
    </div>

</div>
