body {
    background-color: yellow;
}

.content {
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

#canv {
    background-color: black;
    display: block;
    margin: auto;
}

input {
    margin: 10px 10px;
}

#signInput {
    display: none;
}

.signBoxShow {
    background-color: black;
}

.err {
    font-size: 1.3rem;
    color: red;
    font-weight: 700;
}
